<!doctype html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Unit Converter</h1>
    <nav>
      <ul>
        <li><a href="/length">Length</a></li>
        <li><a href="/weight">Weight</a></li>
        <li><a href="temperature">Temperature</a></li>
      </ul>
    </nav>
    <div class="content">{{ block "content" .}} {{ end }}</div>
  </body>
</html>
