<form target="_self">
  <label for="length">Enter the length to convert</label>
  <input type="number" name="length" value="0" /> <br />

  <label for="from">Unit to convert from</label>
  <select name="from" id="from">
    <option value="milimeter">milimeter</option>
    <option value="centimeter">centimeter</option>
    <option value="meter">meter</option>
    <option value="kilometer">kilometer</option>
    <option value="inch">inch</option>
    <option value="foot">yard</option>
    <option value="mile">mile</option>
  </select>

  <label for="to">Unit to convert to</label>
  <select name="to" id="to">
    <option value="milimeter">milimeter</option>
    <option value="centimeter">centimeter</option>
    <option value="meter">meter</option>
    <option value="kilometer">kilometer</option>
    <option value="inch">inch</option>
    <option value="foot">yard</option>
    <option value="mile">mile</option>
  </select>

  <input type="submit" name="submit" value="Convert" target="_self" />
</form>
